*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    height: 775px;
}
#mountains_container{
    height: 100%;
    background-color: lightgray;
    background-image: url(../../assets/image/Left_Large_Night_Mountain.png),url(../../assets/image/moon.png),url(../../assets/image/Left_Small_night_Mountain.png),url(../../assets/image/sun.png),url(../../assets/image/Right_Small_night_Mountain.png),url(../../assets/image/Right_Large_Night_Mountain.png),url(../../assets/image/Space.jpg);
    background-repeat: no-repeat;
    background-size: 50%,10%,30%,10%,30%,50%,100% 100%;
    background-position: 0px 260px,10px 150px,500px 530px,699px 6250px,600px 530px,765px 260px,center;
}
#form_container{
    width: 450px;
    height: 300px;
    position: absolute;
    top: 25%;
    left: 35%;
    border-radius: 100px;
    backdrop-filter: 50px;
    border: 3px solid white;
    color: white;
}
#login_heading{
    font-size: 50px;
    text-align: center;
    
}
.input_fields{
    width: 300px;
    font-size: 25px;
    color: white;
    margin-left: 60px;
    margin-top: 40px;
    outline: none;
    border: none;
    border-bottom: 3px solid white;
    background: none;
}
#submit_button{
    width: 120px;
    height: 50px;
    font-size: 30px;
    color: black;
    padding: 1%;
    margin: 10px 35%;
    border: none;
    border-radius: 10px;
    background-color: white;
}
#form_container:hover>#login_heading{
    text-shadow: 0px 0px 30px white,0px 0px 40px white;
}
#form_container:hover>.input_fields{
    color: black;
    border-bottom: 3px solid black;
}
#form_container:hover+#mountains_container{
    height: 100%;
    /* background-color: lightgray; */
    background-image: url(../../assets/image/Left_Large_Night_Mountain.png),url(../../assets/image/sun.png),url(../../assets/image/Left_Small_night_Mountain.png),url(../../assets/image/sun.png),url(../../assets/image/Right_Small_night_Mountain.png),url(../../assets/image/Right_Large_Night_Mountain.png),url(../../assets/image/sky.png);
    background-repeat: no-repeat;
    background-size: 50%,10%,30%,10%,30%,50%,150% 150%;
    background-position: 0px 260px,10px 50px,500px 530px,699px 6250px,600px 530px,765px 260px,center;
}
